<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :game_date %>
    <%= f.association :challenger, label_method: :email %>
    <%= f.input :user_score %>
    <%= f.input :challenger_score %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to :cancel, url_for(:back), class: 'btn btn-warning' %>
  </div>
<% end %>
