<h1>Games History</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>Score</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.game_date %></td>
        <td><%= game.challenger.email %></td>
        <td><%= game.user_score%> - <%= game.challenger_score %></td>
        <td><%= game.user_score > game.challenger_score ? 'Won' : 'Lost' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
